<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo flow-text"><i><strong>IdeaBox</strong></i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "Home", "/" %></li>
    </ul>
  </div>
</nav>
